.footer {
    display: flex;
    justify-content: center;
    font-family: "inter";
    max-width: 194px;
    width: 100%;
    margin: auto;
    margin-top: 92px;
    padding-bottom: 24px;
    color: #ffffff;
}

.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-top: 7.19%;
    margin-bottom: 24px;
}

@media screen and (min-width: 544px) and (max-width: 1023px) {
    .footer__copyright {
        margin-top: calc((88% / 768) * 100);
    }
}

@media screen and (max-width: 543px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: calc((64% / 320) * 100);
    }
}