.header {
    width: 100%;
    padding-top: 34px;
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 254.84px;
    height: 68.94px;
}

@media screen and (min-width: 544px) and (max-width: 1023px) {
    .header__logo {
        max-width: calc((254% / 768) * 100);
        max-height: calc((66% / 768) * 100);
        margin-top: calc((30% / 768) * 100);
    }

}

@media screen and (max-width: 543px) {
    .header__logo {
        max-width: calc((188% / 320) * 100);
        max-height: calc((52% / 320) * 100);
        margin-top: calc((20% / 320) * 100);
    }
}